.header{
    background-color: rgb(110, 110, 110);
    height: 10vh;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    padding: 0 5vh;
}

.nav {
    display: flex;
    align-self: center;
    gap: 2vh;
    padding: 2%;
    justify-self: end;
}

.nav .nav-link{
    background-color: #ae00ff00;
    border: 0px;
    font-size: 4vh;
    padding: 1vh;
    border-radius: 1.5vh;
    color: white;
}.nav .nav-link:hover{
    color: rgb(175, 175, 175);
    transition: ease-in-out 2s;
}

