.produtos{
    margin-top: 2vh;
    padding: 5vh;
    border-radius: 1vh;
    border-top: 4px solid rgb(63, 63, 63);
    width: 90%;
}

.produtos .produtos-titulo{
    margin: auto;
    padding: 4vh 0;
    border-radius: 1vh;
    margin-top: 6vh;
    font-size: 6vh;
    text-align: center;
}

.produtos .produtos-lista{
    overflow: hidden;
    display: flex;
    gap: 4vh;
    margin: auto;
    width: max-content;
}