.produtos{
    margin-top: 2vh;
    padding: 5vh;
    border-radius: 1vh;
    width: 80%;
}

.produtos .produtos-titulo{
    margin: auto;
    padding: 4vh 0;
    border-radius: 1vh;
    margin-top: 6vh;
    font-size: 6vh;
    text-align: center;
    border-top: 3px solid black;
}

.produtos .produtos-lista{
    overflow: hidden;
    display: flex;
    gap: 4vh;
    width: 100%;
    justify-content: center;
}

@media(max-width: 700px){
    .produtos .produtos-lista{
        display: flex;
        flex-direction: column;
    }

}